.laranja{
    background-color: orange;
    color: white;
}

.vermelho{
    background-color: red;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}

.branco{
    background-color: white;
    color: black;
}